MYSQL_DATABASE=test
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=p@ssw0rd
# MYSQL_PORT=3306
# MYSQL_PATH: C:\Program Files\MySQL\MySQL Server 5.7
CI=0
MYSQL_USE_COMPRESSION=0
DEBUG=1
# BENCHMARK_MYSQL1=1
# BENCHMARK_MARIA=1
# MYSQL_USE_TLS=1
