{
  "extends": [
    "prettier",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "plugins": [
    "markdown",
    "async-await"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "prefer-const": "error",
    "no-var": "error",
    "no-use-before-define": "error",
    "strict": ["error", "global"]
  }
}
