{
  "extends": ["prettier", "eslint:recommended",  "plugin:markdown/recommended"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "plugins": ["markdown", "async-await"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "template-curly-spacing": ["error", "never"],
    "prefer-template": "error",
    "no-useless-call": "error",
    "no-lonely-if": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-else-return": [
      "error",
      {
        "allowElseIf": false
      }
    ],
    "eqeqeq": "error",
    "no-invalid-this": "error",
    "consistent-this": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": ["error", "as-needed"],
    "no-var": "error",
    "no-use-before-define": "error",
    "strict": ["error", "global"]
  },
  "overrides": [
    {
      "files":  ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier"
      ],
      "plugins": ["@typescript-eslint"]
    }
  ]
}
