{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.jsonc",
      "options": {
        "trailingComma": "none"
      }
    },
    {
      "files": "test/**/*.mts",
      "options": {
        "plugins": ["@ianvs/prettier-plugin-sort-imports"],
        "importOrder": [
          "<TYPES>^(node:)",
          "<TYPES>",
          "<TYPES>^[.]",
          "<BUILTIN_MODULES>",
          "<THIRD_PARTY_MODULES>",
          "^[.]"
        ]
      }
    }
  ]
}
