sudo: false
language: node_js
# IF NOT EXISTS is mariadb-10+ only - https://mariadb.com/kb/en/mariadb/comment-syntax/
before_script:
  - mysql -e 'create database /*M!50701 IF NOT EXISTS */ test;'
node_js:
  - '0.8'
  - '0.10'
  - '0.12'
  - '4.3'
  - '5.6'

before_install:
  - "test $TRAVIS_NODE_VERSION = '4.3' || npm rm --save-dev eslint"

script:
  - "test -z $(npm -ps ls eslint) || npm run-script lint"
  - "npm test"

matrix:
    include:
        - addons:
             mariadb: 5.5
          node_js: '4.3'
        - addons:
             mariadb: 10.1
          node_js: '4.3'
        - addons:
             mariadb: 5.5
          node_js: '5.6'
        - addons:
             mariadb: 10.1
          node_js: '5.6'
