# This file was modified by Oracle on June 14, 2021.
# The changes involve the introduction of a local cache for Docker images.
# Modifications copyright (c) 2021, Oracle and/or its affiliates.

sudo: required
dist: trusty

services:
  - docker

language: node_js

cache:
  yarn: true
  directories:
    - docker_images
    - node_modules
    - $HOME/.yarn-cache

before_cache:
  # save all docker images to a local cache in order to avoid the rate limit
  # on Docker Hub
  - docker save -o docker_images/images.tar $(docker images -a -q)

before_install:
  # load docker images from the local cache
  - docker load -i docker_images/images.tar || true

# Node.js version:
# we test only maintained LTS versions
# and lastest dev version
node_js:
  - 12
  - 14
  - 16

env:
  # use env `DOCKER_IMAGE to specify a docker image.
  # env:
  #   `DOCKER_IMAGE` docker image identifier, like `mysql:8.0.18`, `datagrip/mysql:5.1`
  #   `MYSQL_PASSWORD` MySQL root password
  #
  # e.g.,
  #  use `DOCKER_IMAGE=mariadb:10.0.21`, to test MariaDB, :)
  #
  # or, test the old ones:
  #
  # - DOCKER_IMAGE=reducible/mysql:5.0.95
  # - DOCKER_IMAGE=datagrip/mysql:5.1
  #
  # add more or remove any below
  - DOCKER_IMAGE=mysql:8.0.22
  - DOCKER_IMAGE=mysql:8.0.18
  - DOCKER_IMAGE=mysql:8.0.18 MYSQL_USE_TLS=1
  - DOCKER_IMAGE=mysql:8.0.18 MYSQL_USE_COMPRESSION=1
  - DOCKER_IMAGE=mysql:8.0.18 MYSQL_USE_TLS=1 MYSQL_USE_COMPRESSION=1
  #- DOCKER_IMAGE=mysql:8.0.17
  #- DOCKER_IMAGE=mysql:8.0.17 MYSQL_USE_COMPRESSION=1
  - DOCKER_IMAGE=mysql:5.7
  - DOCKER_IMAGE=mysql:5.7 MYSQL_USE_COMPRESSION=1

stages:
  - lint
  - test

# test matrix:
# we test <node.js version> - <env> combined cases,
# and the `include` parts below
jobs:
  fast_finish: true
  allow_failures:
    - node_js: 13
  include:
    - &lint-staging
      stage: lint
      node_js: 12
      env: # no env
      script: &lint
        - yarn --version
        - yarn run lint
    - <<: *lint-staging
      node_js: 14
    - <<: *lint-staging
      node_js: 16
    # - stage: test
    #   name: test handshake reducible/mysql:5.0.95
    #   node_js: 12
    #   env: DOCKER_IMAGE=reducible/mysql:5.0.95 MYSQL_PASSWORD=my-secret-pw
    #######
    # we use this test connect to server with a password
    # only do this, we could reproduce issue #1053 on v2.0.0
    # for later version, use this test handshake with auth 41
    - stage: test
      name: test handshake datagrip/mysql:5.1
      node_js: 14
      env: DOCKER_IMAGE=datagrip/mysql:5.1 MYSQL_PASSWORD=my-secret-pw FILTER=5.1only

script:
  - docker run -d -e MYSQL_ALLOW_EMPTY_PASSWORD=1 -e FILTER=$FILTER -e MYSQL_ROOT_PASSWORD=$MYSQL_PASSWORD -e MYSQL_DATABASE=test -v $PWD/mysqldata:/var/lib/mysql/ -v $PWD/examples/custom-conf:/etc/mysql/conf.d -v $PWD/examples/ssl/certs:/certs -p 33306:3306 $DOCKER_IMAGE
  - MYSQL_PORT=33306 node tools/wait-up.js
  - yarn --version
  - MYSQL_PORT=33306 yarn run test:raw

notifications:
  email: false
