sudo: required
dist: trusty

services:
  - docker

language: node_js
matrix:
  include:
  - node_js: "4.8"
    env: LINT=0
  - node_js: "6.10"
    env: LINT=0
  - node_js: "7.10"
    env: LINT=1

cache:
  yarn: true
  directories:
  - node_modules
  - $HOME/.yarn-cache

notifications:
  email: false

script:
  - docker run -d --name mysql -e MYSQL_ALLOW_EMPTY_PASSWORD=1 -e MYSQL_DATABASE=test -p 33306:3306 mysql:5.7
  - wget https://github.com/glogiotatidis/takis/raw/master/bin/takis
  - chmod +x takis
  - CHECK_PORT=33306 ./takis
  - node --version
  - yarn --version
  - if [ "$LINT" = "1" ]; then yarn run lint; fi
  - MYSQL_PORT=33306 yarn run test:raw
