name: 'GitHub Pages'
on:
  push:
    branches:
      - master
    paths:
      - 'website/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Actions - Checkout
        uses: actions/checkout@v3

      - name: Actions - Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Installing Dependencies
        run: cd website && npm ci

      - name: Checking Types
        run: cd website && npm run typecheck

      - name: Run Unit Tests
        run: cd website && npm run test:unit

      - name: Building Site
        run: cd website && npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build
